* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 70px;
    background-color: #ec715f;
    color: #fafafa;
    font-size: 16px;

}

.header_body{
    width: 1024px;
    display: flex;
    align-items: center;
}

nav{
    margin-left: auto;
}


a{
    text-decoration: none;
    color: #fafafa;
}

.logo{
    height: 70px;
}

.header_list{
    display: inline-block;
    margin: 0 30px;
}

.sm {
    display: none;
}

#main-visual{
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}

.main-visual-title{
    text-align: center;
    padding-top: 200px;
    color: #fafafa;
}

.main-visual-name{
    font-size: 64px;
    margin-bottom: 10px;
}

.main-visual-text{
    font-size: 20px;
}

#main-portfolio{
    width: 100%;
    background-color: #eceff1;
}

.portfolio-contents{
    width: 920px;
    margin: 0 auto;
}

.portfolio-title{
    text-align: center;
    color: #000000;
    padding-top: 90px;
}

.portfolio-name{
    font-size: 32px;
    position: relative;
}

.portfolio-name::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; /* 位置調整 */
	transform: translate(-50%); /* 位置調整 */
	bottom: -8px; /* 下線の上下位置調整 */
	width: 70px; /* 下線の幅 */
	height: 3px; /* 下線の太さ */
	background-color: #ec715f; /* 下線の色 */
}

.portfolio-text{
    padding-top: 38px;
    padding-bottom: 30px;
    font-size: 16px;
}

.portfolio-body{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.portfolio-box{
    height: 250px;
    width: 300px;
}

.portfolio-box:nth-child(1) {
    background-image: url(img/sketch.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.portfolio-box:nth-child(2) {
    background-image: url(img/websuku.png);
    background-size: cover;
    background-position: center;
    margin: 0 10px 10px 10px;
}

.portfolio-box:nth-child(3) {
    background-image: url(img/write.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.portfolio-box:nth-child(4) {
    background-image: url(img/webcamp.png);
    background-size: cover;
    background-position: center;
}

.portfolio-box:nth-child(5) {
    background-image: url(img/talk.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}

.portfolio-box:nth-child(6) {
    background-image: url(img/webcamp-mother.png);
    background-size: cover;
    background-position: center;
}

#feature{
    width: 980px;
    margin: 0 auto;
}

.feature-title{
    padding-top: 90px;
    color: #000000;
    text-align: center;
}

.feature-name{
    font-size: 32px;
    position: relative;
}

.feature-name::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; /* 位置調整 */
	transform: translate(-50%); /* 位置調整 */
	bottom: -8px; /* 下線の上下位置調整 */
	width: 70px; /* 下線の幅 */
	height: 3px; /* 下線の太さ */
	background-color: #ec715f; /* 下線の色 */
}

.feature-text{
    font-size: 16px;
    padding-top: 38px;
    padding-bottom: 30px;
}

.feature-body{
    padding-bottom: 90px;
    display: flex;
}

.strength1, .strength2, .strength3{
    width: 320px;
    text-align: center;
    color: #000000;
}

.strength2{
    margin: 0 10px;
}

.strength-title{
    font-size: 20px;
    padding: 10px 0;
}

.strength-icon{
    font-size: 60px;
}

#profile{
    background-color: #eceff1;
}

.profile-contents{
    width: 1024px;
    margin: 0 auto;
}

.profile-title{
    text-align: center;
    padding-top: 90px;
    color: #000000;
}

.profile-name{
    font-size: 32px;
    position: relative;
}

.profile-name::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; /* 位置調整 */
	transform: translate(-50%); /* 位置調整 */
	bottom: -8px; /* 下線の上下位置調整 */
	width: 70px; /* 下線の幅 */
	height: 3px; /* 下線の太さ */
	background-color: #ec715f; /* 下線の色 */
}

.profile-text{
    font-size: 16px;
    padding-top: 38px;
    padding-bottom: 30px;
}

.profile-body{
    display: flex;
    padding-bottom: 90px;
}

.profile-icon{
    width: 512px;
    display: flex;
    justify-content: center;
}

.profile-image{
    background-image: url(img/my-icon.jpg);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.introduction{
    width: 512px;
    color: #000000;
}

.myname{
    font-size: 20px;
    margin-bottom: 5px;
}

.myname-text{
    font-size: 16px;
    margin-bottom: 20px;
}

.myskills{
    font-size: 20px;
    margin-bottom: 5px;
}

.myskills-text{
    font-size: 16px;
}

#contact{
    width: 800px;
    margin: 0 auto;
}

.contact-title{
    padding-top: 90px;
    text-align: center;
    color: #000000;
}

.contact-name{
    font-size: 32px;
    position: relative;
}

.contact-name::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%; /* 位置調整 */
	transform: translate(-50%); /* 位置調整 */
	bottom: -8px; /* 下線の上下位置調整 */
	width: 70px; /* 下線の幅 */
	height: 3px; /* 下線の太さ */
	background-color: #ec715f; /* 下線の色 */
}

.contact-text{
    font-size: 16px;
    padding-top: 38px;
    padding-bottom: 30px;
}

.contact-body{
    display: flex;
    padding-bottom: 90px;
}

.address{
    
    margin: 0 auto;
}

.sns{
    margin: 0 auto;
}

.address-main{
    font-size: 20px;
}

.address-mail{
    margin-top: 5px;
    margin-bottom: 20px;
}

.address-number{
    margin-top: 5px;
}


.contact-icon{
    font-size: 50px;
    padding-top: 5px;
}

.fa-twitter{
    margin: 0 20px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #ec715f;
    color: #fafafa;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}



@media screen and (max-width:768px){
    header{
        height: 50px;
        width: 100%;
    }

    .header_body{
        width: 90%;
        margin: 0 auto;
    }

    .logo{
        height: 50px;
    }

    .pc {
        display: none;
    }

    .icon{
        
    }

    #hamburger {
        height: 40px;
        width: 40px;
        margin-right: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #FAFAFA;
        margin-left: auto;
    }

    .icon span {
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px auto;
        background-color: white;
    }

    .icon span:nth-of-type(1) {
        margin-top: 10px;
    }

    .sm {
        top: 60px;
        left: 0px;
        position: absolute;
        z-index: 10;
        width: 100%;
        background-color: rgba(34, 49, 52, 0.9);
    }

    ul {
        flex-direction: column;
    }

    a {
        text-align: center;
        border-top: solid 0.5px rgba(255, 255, 255, 0.6);
    }

    #main-visual{
        background-image: url(img/code.png);
        width: 100%;
    }

    .main-visual-title{
        width: 90%;
        margin: 0 auto;
    }

    .main-visual-name{
        font-size: 40px;
    }

    .main-visual-text{
        font-size: 18px;
    }

    #main-portfolio{
        width: 100%;
    }

    .portfolio-contents{
        width: 90%;
        margin: 0 auto;
    }

    .portfolio-body{
        display: block;
        padding-bottom: 90px;
    }

    .portfolio-box{
        margin: 0 auto;
    }
    .portfolio-box:nth-child(1),
    .portfolio-box:nth-child(3),
    .portfolio-box:nth-child(5){

        display: none;
    }

    .portfolio-box:nth-child(2){
        margin: 0 auto;
    }

    .portfolio-box:nth-child(4){
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #feature{
        width: 100%;
    }

    .feature-title{
        width: 90%;
        margin: 0 auto;
    }

    .feature-body{
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .strength1, .strength2, .strength3{
        margin: 0 auto;
    }

    .strength1, .strength2{
        margin-bottom: 10px;
    }

    #profile{
        width: 100%;
    }

    .profile-contents{
        width: 90%;
        margin: 0 auto;
    }

    .profile-body{
        display: block;
    }

    .profile-icon{
        width: 90%;
        margin: 0 auto;
    }

    .introduction{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .myname{
        margin-top: 20px;
    }

    .myskills{
        margin-bottom: 20px;
    }

    #contact{
        width: 100%;
    }

    .contact-title{
        width: 90%;
        margin: 0 auto;
    }

    .contact-body{
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .address-number{
        margin-bottom: 20px;
    }
}